.main {
    background-color: #F8F8F8;
    border-top: 1px solid #D9FFF5;
}

.main__header {
    height: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.main__header-light-line {


}

.main__header-text {
    width: 288px;
    

}

.main__nav {


}

.main__nav-list {


}

.main__nav-list-button {


}

.main__about-us {


}

.main__about-us-text {


}

.main__about-us-button {


}

.main__about-us-img {


}