.main__about-us-contain {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;

    min-height: 80px;
    max-height: 90px;
    max-width: 312px;
    
    overflow: hidden;
}

.main__about-us-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
    color: #1b1c21;

}

.main__about-us-text:nth-of-type(n+2) {
    margin-top: 20px;

}

@media (min-width:768px) {
    .main__about-us-contain {
        margin: 0;
    
        min-height: 80px;
        max-height: 160px;
        min-width: 310px;
        
        overflow: hidden;

        align-self: flex-start;
    }

    .main__about-us-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.01em;
        color: #1b1c21;
    
    }

}

@media (min-width:1120px) {
    .main__about-us-contain {
        max-width: 490px;


    }

    .main__about-us-text {


    }

}