.main {
    background-color: #F8F8F8;
    border-top: 1px solid #D9FFF5;
}

.main__header {
    height: 40px;
    margin-top: 24px;
    margin-bottom: 24px;

    

    display: flex;
}

.main__header-light-line {
    width: 4px;
    background-color: #41F6D7;
    margin-right: 12px;
    border-radius: 2px; 

}

.main__header-text {
    width: 288px;
    margin-right: 16px;

    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: #1b1c21;
}

.main__nav {
    margin-left: 16px;
    margin-bottom: 24px;
    height: 40px;
}

.main__nav-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
    align-items: center;

    overflow-x: auto;
    scrollbar-width: none;
}

.main__nav-list-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #7e7e82;
    height: 36px;

    padding: 10px;
    width: fit-content;
    white-space: nowrap;
}

.main__nav-list-button:hover {
    border: 2px solid #b8ffec;
    border-radius: 6px;
}

.main__about-us {
    max-height: 330px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.main__about-us-contain {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;

    min-height: 80px;
    max-height: 90px;
    max-width: 312px;
    
    overflow: hidden;
}

.main__about-us-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
    color: #1b1c21;

}

.main__about-us-text:nth-of-type(n+2) {
    margin-top: 20px;

}

.main__about-us-button {
    height: 24px;
    width: 132px;
    margin-left: 16px;
    margin-bottom: 16px;
    
    display: flex;
    justify-content: space-between;
}

.main__about-us-button-icon {
    background-image: url(./images/icons/down.svg);
    width: 24px;
    height: 24px;

    background-repeat: no-repeat;
    background-position: center;
}

.main__about-us-button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #1b1c21;
}

.main__about-us-contain-img {
    max-width: 360px;
    max-height: 208px;
    
    display: flex;
}

.main__about-us-img {
    width: 100%;
    
    object-fit: contain;

}

@media (min-width:768px) {
    .main__about-us {
        height: 208px;

        margin-top: 32px;
        margin-left: 24px;
        margin-right: 24px;

        
    }

    .main__about-us-contain {
        margin: 0;
    
        min-height: 80px;
        max-height: 160px;
        max-width: 310px;
        
        overflow: hidden;
    }

    .main__about-us-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.01em;
        color: #1b1c21;
    
    }

    .main__about-us-button {
        margin:0;
        margin-top: 10px;
    }

    .main__about-us-contain-img {
        width: 360px;
        height: 2008px;
        
        margin-left: auto;
        
        display: flex;
    }
    
    .main__about-us-img {
        width: 100%;
        height: auto;
        object-fit: cover;

        border-radius: 6px;
    
    }
}

@media (min-width:1120px) {
   
    .main {
        padding-top: 17px;
    }

    
}
