.header {
    height: 88px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
}

.header__button {
    width: 40px;
    height: 40px;

    background-color: #FF3E79;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;

    transition: transform 0.2s ease;
}

.header button:nth-of-type(1) {
    background-image: url(/edits/images/icons/icon.svg);
    
}

.header button:nth-of-type(2) {
    background-image: url(/edits/images/icons/Group.svg);
}

.header button:nth-of-type(3) {
    background-image: url(/edits/images/icons/repair.svg);
}

.header button:nth-of-type(4) {
    background-image: url(/edits/images/icons/chekstatus.svg);
}

.header a:nth-of-type(2) {
    background-image: url(/edits/images/icons/csll.svg);
}

.header a:nth-of-type(3) {
    background-image: url(/edits/images/icons/chat.svg);
}

.header__button:hover {
    transform: scale(1.05);
}

.header__button:active {
    transform: scale(0.98); 
    background-color: #e6235d
  }

.header__divider {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #EAEAEA;
    
    
}

.header__logo {
    display: inline-block;
    width: 98px;
    height: 51px;
    background-image: url(/edits/images/logo/Group.svg);

}

@media (min-width:320px) and (max-width:769px) {
    
    .header__button--hidden, 
    .header__divider--hidden {
        display: none;
    }

    .header {
        padding-right: 16px;
        padding-left: 16px;
    }

}

@media (min-width:770px) and (max-width:1119px) {
    .header {
        padding-right: 24px;
        padding-left: 24px;
    }

    .header__divider {
        margin: 4px;
    }

    .header a:nth-of-type(2){
        margin-left: auto;
    }
}

@media (min-width:1120px) {
    .header {
        display: none;
    }
}